@import url("../../assets/color.css");

li{
    color: white;
    font-size: clamp(5rem, 7vw, 7rem);
    list-style: none;
    margin: 2rem;
    transition: all 0.2s ease-in;
}
li:hover{
cursor: pointer;
color:var(--yellow);
}
.menubox{
    /* background-color: red; */
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* transform: translate(0, 25%); */
}