@import url("../../assets/color.css");


.head{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* font-size: 3rem; */
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin: 2rem 0 2rem 0;
}

.head h1{
    color: var(--yellow);
}